body {
  margin-top: 10rem;
  color: #4B8E8D;
}

h1, h2, h3, h4, h5, h6 {
  color: #4B8E8D;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #4B8E8D;
}

.site-header .navbar-nav .nav-link {
  color: #4B8E8D;
}

.site-header .navbar-nav .nav-link:hover {
  color: #4B8E8D;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #4B8E8D;
  border-radius: 3px;
  margin-bottom: 20px;
}


a.article-title:hover {
  color: #4B8E8D;
  text-decoration: none;
}

.button, input {
    overflow: visible;
    color: #4B8E8D;
}
.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.list-group-item {
    border: #4B8E8D;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 5rem;
}

.site-header .navbar-nav .nav-link {
    color: white;
}

.btn-secondary {
    color: #fff;
    background-color: #4B8E8D;
    border-color: #4B8E8D;
    align-items: center;
    justify-content: center;
}