{% load static %}
{% load myapp_tags %}

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" language="Javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    <title>Course project | English Learning Site</title>
</head>

<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Course project | English Learning Site</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-about' %}"></a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'exercises' %}">Exercises</a>
                <a class="nav-item nav-link" href="{% url 'vocabulary' %}">Vocabulary</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
                  <div class="row">
                    <div class="col-md-8">
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                          </div>
                        {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>

                            {% if  '/vocabulary/' == request.path or '/vocabulary/search/' in request.path %}

                                          <div class="col-md-4" >
                                             <div class="content-section">
                                                 <h3>Vocabulary bar</h3>
                                             <p class='text-muted'>Explore new words or perform search via your own vocabulary.</p>
                                          <li class="list-group-item list-group-item-light"><form method="GET" action="{% url 'vocabulary' %}search/">
                                              <input type="text" name = "word" placeholder="In your vocabulary"/>
                                              <input type="submit" value="Search"/>
                                          </form>
                                          </li>
                                           <li class="list-group-item list-group-item-light"> <form method="GET" action="{% url 'vocabulary' %}search/dictionary/">
                                              <input type="text" name = "word" placeholder="In dictionaries"/>
                                              <input type="submit" value="Search"/>
                                          </form>
                                           </li>
                                          <div class="list-group" style="overflow-y: auto">
                                              <a class="list-group-item list-group-item-light">Searching history</a>
                                              {% with  request.COOKIES.search_history|split:',' as strs %}
                                              {% for word in strs|slice:"-5:" reversed  %}
                                              <a href="{% url 'vocabulary' %}search/dictionary/?word={{word}}" class="list-group-item ">{{word}} </a>
                                              {% endfor %}
                                              {% endwith %}
                                          </div>

                                      </div>
                                </div>

                            {% endif %}

                            {% if user.is_authenticated and '/exercises/' in request.path and '/exercises/text/' not in request.path  %}
                                   <div class="col-md-4" >
                                        <div class="content-section">

                                        <h3>Navigation bar</h3>
                                             <p class='text-muted'>At the current page, you might find this useful.</p>
                                              <li class="list-group-item list-group-item-light">
                                              <div class="dropdown open" >
                                                  <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   Vocabulary exercises
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'exercises' %}vocabulary/1/">Quiz #1</a>
                                                    <a class="dropdown-item" href="{% url 'exercises' %}vocabulary/2/">Quiz #2</a>
                                                    <a class="dropdown-item" href="{% url 'exercises' %}vocabulary/3/">Quiz #3</a>
                                                  </div>
                                                  </div>

                                              </li>
                                            <li class="list-group-item list-group-item-light">
                                              <div class="dropdown open" >
                                                  <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   Tenses exercises
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'exercises' %}sentense/1/">Quiz #4</a>
                                                    <a class="dropdown-item" href="{% url 'exercises' %}questions/1/">Quiz #5</a>
                                                  </div>
                                                  </div>

                                              </li>
                                             <li class="list-group-item list-group-item-light">
                                              <div class="dropdown open" >
                                                  <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   Text exercises
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'exercises' %}text/">Quiz #6</a>
                                                  </div>
                                                  </div>

                                              </li>
                                              <li class="list-group-item list-group-item-light"> <form method="GET" action="{% url 'vocabulary' %}search/dictionary/">
                                                  <input type="text" name = "word" placeholder="In dictionaries"/>
                                                  <input type="submit" value="Search"/>
                                              </form>
                                              </li>

                          {% endif %}
                           {% if user.is_authenticated and '/exercises/text/' == request.path %}
                                   <div class="col-md-4" >
                                        <div class="content-section">

                                        <h3>Text bar</h3>
                                            <div class="border-top ">
                                             <p class='text-muted'>{{message}}</p>
                                            </div>
                                            {% for i in indexes %}
                                            <p>
                                                <a href="{{i.url}}" target="_blank">{{i.index}}</a>: {{indexes|get_item:i}}
                                            </p>

                                            {% endfor %}
                                                <div class="border-top ">
                                                  <li class="list-group-item list-group-item-light"> <form method="GET" action="{% url 'vocabulary' %}search/dictionary/">
                                                      <input type="text" name = "word" placeholder="In dictionaries"/>
                                                      <input type="submit" value="Search"/>
                                                  </form>
                                                  </li>
                                                </div>
                          {% endif %}
                                      </div>
                                </div>

                          </ul>
                        </p>
                      </div>
                    </div>
                  </div>
                </main>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
