{% extends "blog/base.html" %}
{% block content %}
<h1>Об этом сайте</h1>


<div class="border-top pt-3">
        <article class="media content-section">
          <div class="media-body">
              <h4>Этот сайт был разработан в рамках курсового проекта по предмету "Информационные технологии", студентом группы КИ18-13Б Юсуповой Р.Р.<br>
                    Направление подготовки 09.03.02 - "Информационные системы и технологии".
              </h4>
          </div>
        </article>
</div>

<div class="border-top pt-3">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4>Разработка заданий.</h4>
            </div>
             <article>
                <p>В данный момент, на сайте находится 6 упражнений. Для их разработки использовались следующие модули/библиотеки и API:</p>
                <p><a href="https://pypi.org/project/gTTS/" target="_blank">gTTS</a> - библиотека от Google, позволяющая перевести текст в речь. Использовалась для создания аудио файлов слов из словаря.</p>
                <p><a href="https://www.wordsapi.com/"target="_blank">WordsAPI</a> - API для работы со словарем. В заголовках запроса вводится слово, которое ищет пользватель, а в ответе приходят все известные этому сервису определения данного слова.
                    После этого пользователь выбирает какое определение добавить в свой словарь.</p>
                <p><a href="https://linguatools.org/language-apis/sentence-generating-api/" target="_blank">Linguatools Sentence Generating</a> - API для генерации предложений на английском языке. В заголовках можно указать множество параметров,
                    для Tenses exercises №1 в качестве параметров использовались два случайно выбранных существительных и один глагол из словаря пользователя.
                    Время и отрицательная форма предложения выбирается случайным образом.</p>
                <p><a href="https://www.nltk.org/" target="_blank">nltk</a> - библиотека для анализа и обработки естественного языка. Использовалась для Tenses exercises №2.
                    В случайном предложении, с помощью этого модуля, выделялся глагол. Затем у этого глагола определялись все возможные формы, для этого использовалось другое API - <a href="https://linguatools.org/language-apis/linguatools-conjugation-api/" target="_blank">LINGUATOOLS CONJUGATION</a>.</p>
                <p>Для упражнения Texts exercises №1 использовалось несколько сервисов. Для начала, с помощью модуля <a href="http://wiki.python.su/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D0%B8/BeautifulSoup" target="_blank">BeautifulSoup</a> парсятся все ссылки на статьи инфосайта <a href="https://www.theguardian.com/international" target="_blank">The Guardian</a>.
                    Далее случайным образом выбирается одна из этих ссылок, затем парсится сама новостная статья. Таким образом, на сайте всегда будут новые тексты для чтения.
                    После того как текст получен, проводится его анализ с помощью <a href="https://rapidapi.com/ipeirotis/api/readability-metrics" target="_blank">Readability Metrics API</a>. В результате получаем множество значений, по которым определяется сложность текста и ифнормируется пользователь.</p>
            </article>
              </h4>
          </div>
        </article>

</div>

{% endblock content %}
