{% extends "blog/base.html" %}
{% block content %}
{% load myapp_tags %}

<h1>Define tense of a sentense</h1>
 <div class="border-top pt-4">
       <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <h4><a class="mr-2">{{ statement }}</a></h4>
            </div>

              <form method="POST">
                  {% csrf_token %}
                   <input type="hidden" name="question_id" value="{{question.id}}">
                   <input type="hidden" name="statement" value="{{statement}}">
             <!-- Group of default radios - option 1 -->

                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="user_answer" value="{{answers_set|get_item:'answer1'}}">
                  <label class="custom-control-label" for="defaultGroupExample1">{{answers_set|get_item:'answer1'}}</label>
                </div>


                <!-- Group of default radios - option 2 -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="user_answer" value="{{answers_set|get_item:'answer2'}}">
                  <label class="custom-control-label" for="defaultGroupExample2">{{answers_set|get_item:'answer2'}}</label>
                </div>

                {% if answers_set|get_item:'answer2' != answers_set|get_item:'answer3' %}
                <!-- Group of default radios - option 3 -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="user_answer" value="{{answers_set|get_item:'answer3'}}">
                  <label class="custom-control-label" for="defaultGroupExample3">{{answers_set|get_item:'answer3'}}</label>
                </div>
                {% endif %}
                 {% if answers_set|get_item:'answer4' != None %}
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="user_answer" value="{{answers_set|get_item:'answer4'}}">
                  <label class="custom-control-label" for="defaultGroupExample4">{{answers_set|get_item:'answer4'}}</label>
                </div>
                {% endif %}
                  <input type="submit" style="float: right;" value="Send" >
         </form>

          </div>
       </article>
 </div>
{% endblock content %}