{% extends "blog/base.html" %}
{% block content %}
<h1>Read the following text</h1>
 <div class="border-top pt-4">
       <article class="media content-section">
          <div class="media-body">
              {% for t in text %}
               {% autoescape off %}
              <p>{{ t }}</p>
            {% endautoescape %}
              {% endfor %}
          </div>
        </article>
 </div>
{% endblock content %}