{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
<div>
    <h1> Search result on word: {{word}}</h1>
    <h2> Total {{words.results|length}}</h2>
</div>
</article>
{% for w in words.results %}
        <article class="media content-section">
          <div class="media-body">
              <form method="POST" action="{% url 'vocabulary' %}add/">
                  {% csrf_token %}
                   <input type="hidden" name="word" value={{word}}>
                   <input type="hidden" name="partOfSpeech" value={{w.partOfSpeech}}>
                   <input type="hidden" name="definition" value="{{w.definition}}">
                   <input type="submit" style="float: right;" value="Add">
             </form>
                 <div class="article-metadata">
                    <h3><a class="mr-2">{{ w.definition }}</a></h3>
                 </div>
              <h3><a class="article-title" >{{ w.partOfSpeech }}</a></h3>
          </div>
        </article>
    {% endfor %}

{% endblock content %}