{% extends "blog/base.html" %}
{% block content %}

        <h1> Description of exercises options</h1>

<div class="border-top pt-5">
        <h2> Vocabulary exercises </h2>
    <div class="border-top pt-3">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4><a class="mr-2" href="{% url 'exercises' %}vocabulary/1/">1.Define a word by it's description</a></h4>
            </div>
              <h4><a class="mr-2">В этом упражнении вам предстоит определить слово только по его определению.<br>Все определения взяты с вашего собственного словаря.</a>
              </h4>
          </div>
        </article>

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4><a class="mr-2" href="{% url 'exercises' %}vocabulary/2/">2.Insert a letter</a></h4>
            </div>
              <h4><a class="mr-2">В этом упражнении вам нужно вставить пропущенную букву.<br>В поле ответа нужно ввести ТОЛЬКО одну пропущенную букву.</a></h4>
          </div>
        </article>

         <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4><a class="mr-2" href="{% url 'exercises' %}vocabulary/3/">3.Define a word by it's pronounce</a></h4>
            </div>
              <h4><a class="mr-2">В этом упражнении вам нужно записать прослушенное слово.Все слова взяты с вашего собственного словаря.</a></h4>
          </div>
        </article>
    </div>
    <h2> Tenses exercises </h2>
    <div class="border-top pt-3">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4><a class="mr-2" href="{% url 'exercises' %}sentense/1/">1.Define tense of a sentense </a></h4>
            </div>
              <h4><a class="mr-2">Определите, в каком времени представлено предложение.</a></h4>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4><a class="mr-2" href="{% url 'exercises' %}questions/1/">2.Define verb's correct conjugated form </a></h4>
            </div>
              <h4><a class="mr-2">Определите, в какой форме должен стоять глагол в предложении.</a></h4>
          </div>
        </article>
    </div>
    <h2> Texts exercises </h2>
    <div class="border-top pt-3">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                 <h4><a class="mr-2" href="{% url 'exercises' %}text/">1.Read a text </a></h4>
            </div>
              <h4><a class="mr-2">Прочитайте текст.</a></h4>
          </div>
        </article>
    </div>
</div>

{% endblock content %}

