{% extends "blog/base.html" %}
{% block content %}
{% load myapp_tags %}
   {% if user.is_authenticated %}
        <h1> {{ user.get_username}}'s vocabulary</h1>
   {% endif %}
<div>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/a" class="btn">A</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/b" class="btn">B</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/c" class="btn">C</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/d" class="btn">D</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/e" class="btn">E</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/f" class="btn">F</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/g" class="btn">G</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/h" class="btn">H</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/i" class="btn">I</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/j" class="btn">J</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/k" class="btn">K</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/l" class="btn">L</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/m" class="btn">M</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/n" class="btn">N</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/o" class="btn">O</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/p" class="btn">P</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/q" class="btn">Q</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/r" class="btn">R</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/s" class="btn">S</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/t" class="btn">T</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/u" class="btn">U</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/v" class="btn">V</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/w" class="btn">W</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/x" class="btn">X</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/y" class="btn">Y</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}search/z" class="btn">Z</a></span>
    <span class="span4 text-left"><a href="{% url 'vocabulary' %}" class="btn">All</a></span>
</div>

{% for word in words %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <font color="{{word.get_knowledge_level_colors}}"><h1><a class="mr-2" >{{word.word.word_spelling}}</a></font>
                <audio controls preload="auto">
                    <source src="{{word.word.file.url}}" type="audio/mp3" />
                    This text displays if the audio tag isn't supported.
                </audio>
                <a class="article-title" style="float: right;" >{{ word.word.part_of_speech }}</a></h1>

            </div>
              <h4><a class="mr-2">{{ word.word.description }}</a></h4>
          </div>
        </article>
    {% endfor %}

{% endblock content %}

