{% extends "blog/base.html" %}
{% block content %}
<h1>Define a word by it's pronounce</h1>
 <div class="border-top pt-4">
       <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <h4><a class="mr-2">  <audio controls preload="auto">
                    <source src="{{word.file.url}}" type="audio/mp3" />
                    This text displays if the audio tag isn't supported.
                </audio></a></h4>
            </div>

              <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="word_id" value="{{word.id}}">
                  {% if not status%}
                    <input type="text" style="float: left;" name="user_answer" value ="{{user_answer}}">
                    <input type="submit" formaction="{% url 'exercises' %}vocabulary/3/" style="float: right;" value="Skip" >
                    <input type="submit" formaction="{% url 'exercises' %}vocabulary/3/validate/" style="float: right;" value="Send" >

                  {% elif user_answer and status %}
                    <input type="text" style="float: left;" name="user_answer" value ="{{user_answer}}">
                    <input type="submit" formaction="{% url 'exercises' %}vocabulary/3/" style="float: right;" value="Next" >

                  {% else %}
                  <input type="text" style="float: left;" name="user_answer">
                  <input type="submit" formaction="{% url 'exercises' %}vocabulary/3/validate/" style="float: right;" value="Send" >
                  {% endif %}


              </form>
                <br/>
                <br/> <a class="mr-2" >Подсказка: it's a {{ word.part_of_speech }}</a>


          </div>
        </article>
 </div>
{% endblock content %}