{% extends "blog/base.html" %}
{% block content %}

<h1>Insert missing letter</h1>
 <div class="border-top pt-4">
       <article class="media content-section">
          <div class="media-body">
              {% with word_var=word_without_letter %}
            <div class="article-metadata">
                <h4><a class="mr-2">{{ word_var }}</a></h4>
            </div>

              <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="word_id" value="{{word.id}}">
                  <input type="hidden" name="word_without_letter" value="{{word_var}}">
                  {% if not status%}
                    <input type="text" style="float: left;" name="user_answer" value ="{{user_answer}}">
                    <input type="submit" formaction="{% url 'exercises' %}vocabulary/2/" style="float: right;" value="Skip" >
                    <input type="submit" formaction="{% url 'exercises' %}vocabulary/2/validate/" style="float: right;" value="Send" >

                  {% elif user_answer and status %}
                    <input type="text" style="float: left;" name="user_answer" value ="{{user_answer}}">
                    <input type="submit" formaction="{% url 'exercises' %}vocabulary/2/" style="float: right;" value="Next" >

                  {% else %}
                  <input type="text" style="float: left;" name="user_answer">
                  <input type="submit" formaction="{% url 'exercises' %}vocabulary/2/validate/" style="float: right;" value="Send" >
                  {% endif %}


              </form>
              {% endwith %}
                <br/>
                <br/> <a class="mr-2" >Подсказка: {{ word.description }}</a>


          </div>
        </article>
 </div>
{% endblock content %}