{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load myapp_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body" >
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    </div>
         <div class="content-section">
        {% for t in tenses %}
             <article class="media content-section">
                  <div class="media-body">
                        <a class="article-title" style="float: left;" >{{t.tense}}: {{t.correct}}/{{t.all}}</a></h1>
                        <a class="article-title" style="float: right;" >{{t.count_percent}}%</a></h1>
                  </div>
            </article>
            {% endfor %}
        </div>
    <div class="content-section">
             <article class="media content-section">
                  <div class="media-body">
                        <a class="article-title" style="float: left;" >Vocabulary knowing: {{words.count_percent}}%</a></h1>
                  </div>
            </article>
        </div>
{% endblock content %}
